.public-contact {
  height: auto;
  width: 100%;
  color: white;
  font-family: "AvenirNext", Helvetica, Arial, sans-serif !important;
}
.public-contact-container {
  font-family: "AvenirNext", Helvetica, Arial, sans-serif !important;
  color: white;
  width: 100%;
  padding-right: 39px;
  padding-bottom: 10px;
  padding-left: 39px;
}
.public-contact-card-body {
  float: center;
  background-color: black;
  float: center;
  color: white !important;
}

.public-contact-card-body-MDBInput {
  color: white !important;
}
.public-contact-card-body-MDBInput-textarea {
  background-color: white !important;
}
.public-contact-container-text-div {
  text-align: center;
  width: calc(100% - 200px);
  display: inline-block;
  position: absolute;
}
.public-contact-container-text-div h2 {
  color: inherit !important;
  line-height: 1.1;
  font-size: 30px;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif !important;
}

.public-contact-container-text-div h4 {
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: inherit;
}
.public-contact-container-text-div address {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: rgb(170, 163, 163) !important;
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  font-style: italic;
}
