.public-about-us {
  min-height: 370px;
  width: 100%;
  color: white;
  font-family: "AvenirNext", Helvetica, Arial, sans-serif !important;
}
.public-about-us-container {
  font-family: "AvenirNext", Helvetica, Arial, sans-serif !important;
  color: white;
  width: 100%;
  padding-right: 39px;
  padding-bottom: 10px;
  padding-left: 39px;
  text-align: -webkit-center;
}

.public-about-us-container-header {
  font-size: 30px;
  text-align: center;
}

.public-about-us-container-header h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif !important;
  line-height: 1.1;
  color: inherit;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.public-about-us-container-content {
  align-self: center;
  float: center;
  width: 57vh;
}

.public-about-us-container-content p {
  margin: 0 0 10px;
  width: auto;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
