// header start
nav {
  width: 100%;
  height: 70px;
  background-color: #000;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999999999;
  color: white;
  font-family: "AvenirNext", Helvetica, Arial, sans-serif;
}

nav .flexbox {
  display: flex;
}
.row-container {
  width: 100%;
  padding: 0px 60px;
  position: relative;
}
.flexbox {
  display: flex;
}

nav .flexbox .box:first-child {
  margin-right: auto !important;
}
nav .flexbox .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .flexbox .box .left-icons {
  display: flex;
  margin-right: auto;
  font-size: 18px;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
nav .flexbox .box:first-child {
  margin-right: auto !important;
}
nav .flexbox .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .flexbox .box .left-icons img {
  margin-right: 15px;
}
nav .flexbox img {
  height: 30px;
  width: auto;
}
nav .flexbox .box .left-icons {
  display: flex;
  margin-right: auto;
  font-size: 18px;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
nav .flexbox .box:last-child {
  margin-left: auto !important;
}
nav .flexbox .box:nth-child(2) {
  margin: auto;
}

nav .flexbox .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .flexbox .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.no-hover {
  opacity: 1;
}
button,
a {
  cursor: pointer;
}
button,
a {
  cursor: pointer;
}
nav .flexbox .box .tvf-logo {
  height: 40px;
}
nav .flexbox .box:last-child {
  margin-left: auto !important;
}
nav .flexbox .box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .flexbox .box ul.right-menu img {
  width: 30px;
  height: auto;
}

nav .flexbox .box:last-child {
  margin-left: auto !important;
}

nav .flexbox .box ul.right-menu {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}
nav .flexbox .box ul li:first-child {
  margin-left: 0px;
}

nav .flexbox .box ul li a {
  opacity: 0.9;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.show-desktop-flex {
  font-family: "AvenirNext", Helvetica, Arial, sans-serif !important;
  font-size: 18px;
}

nav .flexbox .box ul li {
  list-style: none;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif;
  margin-left: 40px;
  position: relative;
  height: 100%;
}

// ul {
//   display: block;
//   list-style-type: disc;
//   margin-block-start: 1em;
//   margin-block-end: 1em;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   padding-inline-start: 40px;
// }

//////////////////////////// header end

//dashboard start ////

#dashboard-slider-label {
  height: 100px;
  background-color: transparent;
  color: #151518;
  // pointer-events: none;
  opacity: 1;
  padding-bottom: 100px;
}
#dashboard-slider-label span {
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif !important;
  font-size: 20px !important;
}

.share-button {
  width: 280px;
  margin-bottom: 100px;
  height: 50px;
  margin-top: 50px;
  background: #dfe6e9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.4s linear;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif !important;
}
.share-button:hover {
  transform: scale(1.1);
}
.share-button span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffc105;
  color: #f1f1f1;
  text-align: center;
  line-height: 50px;
  z-index: 999;
  transition: 0.6s linear;
  border-radius: 40px;
}
.share-button:hover span {
  transform: translateX(-100%);
  transition-delay: 0.3s;
}
.share-button a {
  flex: 1;
  font-size: 26px;
  margin-right: 20px;
  color: #151518;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
}
.share-button:hover a {
  opacity: 1;
  transform: translateX(0);
}
.share-button a:nth-of-type(1) {
  transition-delay: 1s;
}
.share-button a:nth-of-type(2) {
  transition-delay: 0.8s;
}
.share-button a:nth-of-type(3) {
  transition-delay: 0.6s;
}
.share-button a:nth-of-type(4) {
  transition-delay: 0.4s;
}

.dashboard-rows {
  // background-color: red;
  padding-left: 30px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  box-sizing: inherit;
}

.dashboard-rows h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 23px;
  opacity: 0.9;
  color: white;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif !important;
  cursor: pointer;
}

.dashboard-rows h3 span {
  display: none;
}
.dashboard-rows h3:hover {
  span {
    display: contents;
    padding-left: "20px";
    transition: box-shadow 2s linear;
    transform: translateX(-100%);
  }
}

.dashboard-rows-content {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.dashboard-rows-content:hover {
  margin-left: -15px;
  transition: 0.3s linear;
}

.dashboard-rows-content-div {
  cursor: pointer;
}
.dashboard-rows-content-div-img:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  height: 500px;
}
.dashboard-rows-content-title {
  color: white;
  font-family: "AvenirNext-Bold", Helvetica, Arial, sans-serif !important;
  font-size: 15px;
  line-height: normal;
  height: auto;
  width: 100%;
}

// DASHBOARD END

// FOOTER START

.public-footer-span {
  color: white;
}

.public-footer-span:hover {
  color: #ffc105;
}
